body {
    		
}
.content { 
    background-image: url("../img/backgroundNew.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
	padding: 1px;
}

.container, .container-fluid { 
    /*background-image: url("../img/wallpaper.png");*/
    background-repeat: no-repeat;
    margin-top: 5px;	
    /*width: 100%;*/
    width: 1687px;
}

.wallpaper{
    background-image: url("../img/wallpaper3.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    /*width: 85%;
    height: 75%;*/
    width: 1000px;
    height: 575px;
    margin-left: 120px;
    margin-right: 131px;
    margin-top: 100px;
}

.fixedkeyboard{
    background-image: url("../img/tablet_parts/background_keyboard.png");
    background-repeat: repeat-x;
    position: absolute;
    z-index: 10;
    /*width: 85%;
    height: 75%;*/
    width: 972px;
    height: 260px;
    margin-left: 132px;
    margin-right: 131px;
    /*margin-top: 37%;*/
    margin-top: 512px;
}

.innerfixedkeyboard{
    background-image: url("../img/tablet_parts/keyboard_fixed2.png");
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
    width: 515px;
    height: 245px;
    margin: 10px;
    float: left;
}

.numerickeyboard{
    /*background-image: url("../img/tablet_parts/keyboard_fixed.png");*/
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
    margin-top: 3px;
    width: 225px;
    height: 320px;
    margin: 0px 8px;
    float: left;	
}

.sendrow{
    /* background-image: url("../img/tablet_parts/keyboard_fixed.png");*/
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
    width: 80px;
    height: 320px;
    margin: 0px 8px;
    float: left;	
}


.dealer { 
    /*margin-top: 265px;	
    margin-left: 225px;
    padding: 10px;*/
    border-radius: 15px;
    position:absolute;
    z-index: 10;
    margin-top: 15px;
    margin-left: 2px;
    background-image: url("../img/dealer_crop2.png");
    background-repeat: no-repeat;
    /*background-size: 75% 100%;*/
    padding: 1%;
    font-family:'Open Sans';
    font-style:condensed;
    color: white;		
}

.ussdinterface {
    border-radius: 15px;
    position:absolute;
    z-index: 10;
    margin-top: 15px;
    margin-left: 2px;
    background-image: url("../img/ussd_body.png");
    background-repeat: repeat-y;
    width: 260px;
    min-height: 200px;
    padding: 15px;
    font-family:'Open Sans';
    font-style:condensed;
    color: white;	
}

pre {
    margin: 0px;
}

.ussdbody {
    color: white;
    font-size: 15px;
    width: 230px;
    min-height: 150px;
    /*padding-left: 5px;*/
    padding-top: 0px;
    text-decoration: none;
    /*max-height: 300px;*/
}



.keyboard {
    margin-top: 283px;
    margin-left: 927px;
}

.send {
    float: right;
    /*margin-right: 336px;*/
    margin-right: 45%;
    margin-top: 80px;
    width: 85;
    height: 150;
}

.clear {
    clear: both;
}

/* tablet body classes*/

/* corners*/
.col-xs-1.cornertopleft {
    background-image: url("../img/tablet_parts/corner_top_left.png");
    background-repeat: no-repeat;
    height: 117px;	
    width: 133px;	
    margin-bottom: -1px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -1px;		
}

.col-xs-1.cornertopright{
    background-image: url("../img/tablet_parts/corner_top_right.png");
    background-repeat: no-repeat;
    height: 117px;	
    width: 131px;
    padding-right: 0px;
    padding-left: 0px;
    /*float: right;*/
}

.col-xs-1.cornerbottomleft {
    background-image: url("../img/tablet_parts/corner_bottom_left.png");
    background-repeat: no-repeat;
    height: 117px;
    width: 133px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -1px;
}

.col-xs-1.cornerbottomright{
    background-image: url("../img/tablet_parts/corner_bottom_right.png");
    background-repeat: no-repeat;
    height: 117px;
    width: 133px;
    padding-right: 0px;
    padding-left: 0px;
    /*float: right;*/
}

/* sides*/

.col-xs-1.buttonleft {
    background-image: url("../img/tablet_parts/button_left.png");
    background-repeat: no-repeat;
	width:133px;
    height: 187px;	
    margin-top: -1px;
}

.col-xs-1.buttonright{
    background-image: url("../img/tablet_parts/button_right.png");
    background-repeat: no-repeat;
	width:131px;
    height: 187px;
    margin-top: -1px;
    /*float: right;*/
}

.col-xs-1.degradeleft {
    background-image: url("../img/tablet_parts/degrade_left.png");
    background-repeat: no-repeat;
	width:133px;
    height: 188px;	
}

.col-xs-1.degraderight{
    background-image: url("../img/tablet_parts/degrade_right.png");
    background-repeat: no-repeat;
	width:131px;
    height: 188px;
    /*float: right;*/
}

.col-xs-1.borderleft {
    background-image: url("../img/tablet_parts/border_left.png");
    background-repeat: repeat-y;
    width:133px;
    height: 280px;
    /*height: 40vh;*/	
}

.col-xs-1.borderright {
    background-image: url("../img/tablet_parts/border_right.png");
    background-repeat: repeat-y;
    width:131px;
    height: 280px;
    /*height: 40vh;*/
    /*float: right;*/	
}


.col-xs-10.emptydiv {
    /*width: 77.65%;*/
    width: 969px;
}
/* top/bottom*/
.webcam {
    background-image: url("../img/tablet_parts/webcam.png");
    background-repeat: no-repeat;
    width: 165px;
    height: 117px;
    float: left;
    margin-right: -1px;		
}
.col-xs-4.bordertop{
    background-image: url("../img/tablet_parts/border_top.png");
    background-repeat: repeat-x;
    width: 403px;
    height: 117px;
    /*padding-right: 0px;
    padding-left: 0px*/	
}

.buttonsbottom {
    background-image: url("../img/tablet_parts/buttons_bottom.png");
    background-repeat: no-repeat;
    width: 448px;
    height: 117px;
    float: left;	
}
.col-xs-3.borderbottom{
    background-image: url("../img/tablet_parts/border_bottom.png");
    background-repeat: repeat-x;
    height: 117px;
    /*width: 20.97%;*/
    width: 261px;	
}

/* BUTTONS*/

.buttons, .bt1, .bt2, .bt3, .bt4, .bt5, .bt6, .bt7, .bt8, .bt9,.btdot, .btasterisk, .btfind, .btback, .bthash {
    /*width: 84px;
    height: 73px;*/
    width: 66px;
    height: 57px;
    margin: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    padding: 0px;
    border-color: transparent;
    border: none;	
     	
}

.bt0 {
    background-image: url("../img/bt_resized/bt_0_2.png");   
    background-repeat: no-repeat;
    /*width: 176px;
    height: 71px;*/
    width: 66px;
    height: 54px;
    margin: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    padding: 0px;
    border-color: transparent;
    border: none; 	
}

.bt1 {
    background-image: url("../img/bt_resized/bt_1.png");    	
}

.bt2 {
    background-image: url("../img/bt_resized/bt_2.png");    	
}

.bt3 {
    background-image: url("../img/bt_resized/bt_3.png");    	
}

.bt4 {
    background-image: url("../img/bt_resized/bt_4.png");    	
}

.bt5 {
    background-image: url("../img/bt_resized/bt_5.png");    	
}

.bt6 {
    background-image: url("../img/bt_resized/bt_6.png");    	
}

.bt7 {
    background-image: url("../img/bt_resized/bt_7.png");    	
}

.bt8 {
    background-image: url("../img/bt_resized/bt_8.png");    	
}

.bt9 {
    background-image: url("../img/bt_resized/bt_9.png");    	
}

.btdot {
    background-image: url("../img/bt_resized/bt_dot.png");
    /*height: 72px;*/   
    height: 54px; 	
}

.bthash {
    background-image: url("../img/bt_resized/bt_hash.png");
    /*height: 72px;*/   
    height: 54px; 	
}

.btasterisk {
    background-image: url("../img/bt_resized/bt_asterisk.png");
    /*height: 72px;*/   
    height: 54px; 	
}

.btback {
    background-image: url("../img/bt_resized/bt_back_keyboard.png"); 
}

.btfind {
    background-image: url("../img/bt_resized/bt_findSmall.png");   
    height: 54px;
    margin-top: 7px; 	
}

.btsend {
    background-image: url("../img/bt_resized/bt_sendBig.png");   
    background-repeat: no-repeat;
    /*width: 84px;
    height: 150px;*/
    width: 66px;
    height: 117px;
    margin: 6px 6px 0px 0px;
    background-repeat: no-repeat;
    padding: 0px;
    border-color: transparent;
    border: none; 	
}

.bt0:active {
    background-image: url("../img/bt_resized/bt_0_clicked_2.png");   
	
}

.bt1:active {
    background-image: url("../img/bt_resized/bt_1_clicked.png");    	
}

.bt2:active {
    background-image: url("../img/bt_resized/bt_2_clicked.png");    	
}

.bt3:active {
    background-image: url("../img/bt_resized/bt_3_clicked.png");    	
}

.bt4:active {
    background-image: url("../img/bt_resized/bt_4_clicked.png");    	
}

.bt5:active {
    background-image: url("../img/bt_resized/bt_5_clicked.png");    	
}

.bt6:active {
    background-image: url("../img/bt_resized/bt_6_clicked.png");    	
}

.bt7:active {
    background-image: url("../img/bt_resized/bt_7_clicked.png");    	
}

.bt8:active {
    background-image: url("../img/bt_resized/bt_8_clicked.png");    	
}

.bt9:active {
    background-image: url("../img/bt_resized/bt_9_clicked.png");    	
}

.btdot:active {
    background-image: url("../img/bt_resized/bt_dot_clicked.png");
    height: 54px;    	
}

.bthash:active {
    background-image: url("../img/bt_resized/bt_hash_clicked.png");
    height: 54px; 	
}

.btasterisk:active {
    background-image: url("../img/bt_resized/bt_asterisk_clicked.png");
    height: 54px;  	
}

.btback:active {
    background-image: url("../img/bt_resized/bt_back_keyboard_clicked.png"); 
}

.btfind:active {
    background-image: url("../img/bt_resized/bt_findSmall_clicked.png");    	
}

.btsend:active {
    background-image: url("../img/bt_resized/bt_sendBig.png");   
}


input[type=text],input[type=number]
{
    background-color: transparent;	
    color: white;
    font-size: 40px;
    height: 75px;
    width: 341px;
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 70px;
    text-decoration: none;
    background-repeat: repeat-x;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/
    border: 0;
}

.ussdinterface input[type=text],input[type=number]
{
    background-image: url("../img/ussd_input2.png");
    background-repeat: no-repeat;
    background-color: transparent;	
    color: white;
    font-size: 20px;
    width: 230px;
    height: 36px;
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 10px;
    text-decoration: none;
    background-repeat: repeat-x;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/
    border: 0;
}

.ussdinterface input[type=text],input[type=number]:focus{
    outline:none;
}

input[type=submit] {
    background-image: url("../img/bt_sendBig.png");
    background-color: transparent;
    color: transparent;
    border: transparent;	
    width: 85;
    height: 150;
    background-repeat: no-repeat;
    padding: 0px;
}
